@font-face {
font-family: OpenSans-BoldItalic;
src: url('../fonts/OpenSans-BoldItalic.ttf');
}
@font-face {
font-family: OpenSans-ExtraBoldItalic;
src: url('../fonts/OpenSans-ExtraBoldItalic.ttf');
}
@font-face {
font-family: OpenSans-Regular;
src: url('../fonts/OpenSans-Regular.ttf');
}
.Parent-container{
max-width:1500px;
margin: auto;
}
.Parent-container > nav{
margin-bottom: 0px;
padding-top: 6px;
min-height: 83px;
background-color: #3f3f3f;
-moz-box-shadow:inset 0 0 30px #000000;
-webkit-box-shadow:inset 0 0 30px #000000;
box-shadow:inset 0 0 30px #000000;
border: 0;
border-radius: 0;
}
.logo-img > img{
width: 205px;
}
.header-btn > button{
font-size: 11px;
margin-bottom: 8px;
background-color: #ed1c24;
border: 0;
}
.header-btn > button:hover{
background-color: #d21920 !important;
transition:all 0.3s ease;
}
.navbar-default .navbar-nav>li>a {
color: #fff;
font-size: 17px;
}
.navbar-default .navbar-nav>li>a:hover{
color: #fbeaea !important;
}
.navbar-default .navbar-nav>li>a:focus{
color: #fbeaea !important;
}
.navbar-default .navbar-nav>li>a:active{
color: #fbeaea !important;
}
.banner-container > img{
width: 100%;
height: 100%;
}
#navbar1{
padding-left: 0;
padding-right: 0;
}
.third-portion > div > h2{
font-size: 49px;
font-weight: bold;
font-family: OpenSans-ExtraBoldItalic;
margin-top: 21px;
color: #3d4549;
margin-left: 2%;
}
.third-portion > div > p{
font-family: OpenSans-Regular;
background-color: white;
color: #3d4549;
font-size: 18px;
line-height: 2.5;
margin-left: 2.5%;
}
.third-portion > div > h3{
font-family: OpenSans-BoldItalic;
font-size: 35px;
color: #ed1c24;
margin-left: 2%;
margin-bottom: 24px;
}
.third-portion > img{
width: 100%;
margin-top: -11%;
}
.fourth-portion > div >h2{
font-size: 49px;
font-weight: bold;
font-family: OpenSans-ExtraBoldItalic;
margin-top: 33px;
color: #3d4549;
margin-left: 2%;
}
.fourth-portion{
margin-top: -19%;
}
.fourth-portion > div > p{
font-family: OpenSans-Regular;
color: #3d4549;
font-size: 18px;
line-height: 2.5;
margin-left: 2.5%;
}
.contact-button > div{
width: 100px;
display: table;
float: left;
height: 20px;
}
.red-btn{
background-image:url("../images/redbutton-bg.png");
width: 391px;
border: 0;
background-repeat: no-repeat;
height: 44px;
background-color: transparent;
background-size: contain;
margin-left: -20px;
color: white;
font-family: OpenSans-BoldItalic;
}
.red-btn:hover{
background-image:url("../images/hover-bg.png");
transition:all 0.5s ease;
}
.red-btn:focus{
outline: 0;
}
.fourth-portion{
display: table;
width:100%;
}
.services{
background-image: url(../images/sbg.png);
display: table;
width: 100%;
height: 146px;
margin-top: 4%;
background-repeat: no-repeat;
background-size: cover;
}
.services > .first{
padding-left: 7%;
}
.services > div > h3{
font-family: OpenSans-ExtraBoldItalic;
color: #3d4549;
}
.services > div > p{
font-family:OpenSans-Regular;
font-size: 15px;
}
.service2{
background-image: url("../images/sbg2.png");
display: table;
width: 100%;
margin-top: 1%;
height: 146px;
background-repeat: no-repeat;
background-size: cover;
}
.service2 > .first{
padding-left: 7%;
}
.service2 > div > h3{
font-family: OpenSans-ExtraBoldItalic;
color: #3d4549;
}
.service2 > div > p{
font-family:OpenSans-Regular;
font-size: 15px;
}
.service3{
background-image: url("../images/sbg3.png");
display: table;
width: 100%;
margin-top: 1%;
background-repeat: no-repeat;
background-size: cover;
}
.service3 > .cs{
padding-left: 7%;
}
.service3 > .cs > h3{
font-family: OpenSans-ExtraBoldItalic;
color: #3d4549;
}
.service3 > div > p{
font-family:OpenSans-Regular;
font-size: 15px;
}
.cs{
width: 425px;
}
.Deeper{
width: 585px;
margin: 38px 0px 0px 173px;
text-align: center;
}
.Deeper > h3{
font-family: OpenSans-ExtraBoldItalic;
color: #ffffffeb;
line-height: 1.6;
font-size: 51px;
}
.footer{
background-color: #141414;
padding: 10px 15px 10px 15px;
display: table;
width: 100%;
}
.footer > img{
width: 200px;
float: left;
}
.footer > p{
float: left;
padding: 12px 0px 0px 14%;
margin: 0;
color: #a0a0a0;
font-size: 12px;
font-family: OpenSans-Regular;
}
.social > a > i{
font-size: 32px;
color: #737373;
}
.social > a:hover > i{
color:#ffffff;
transition:all 0.5s ease;
}
.social{
float: right;
margin-top: 3px;
}
.for-mb{
display: none;
}
.web-d{
display: none;
}
.navbar-toggle{
margin-top: 17px !important;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 9999;
background: url(../images/loader.gif) center no-repeat #fff;
}
@media(min-width:768px){
.header-btn{
float:none !important;
}
.header-btn > button{
margin-left: 35%;
font-size: 11px;
margin-bottom: 8px;
background-color: #ed1c24;
border: 0;
}
.navbar-default .navbar-nav>li>a {
padding: 2px 10px 2px 0px;
}

#navbar1 > ul{
margin-top: 12px;
}
}
@media(max-width:768px){
.menus-ul{
float: none!important;
text-align: center;
width: 100%;
}
#navbar1{
margin-top: 20px;
border: 0;
}
.third-portion > div > h2{
font-size: 24px !important;
}
.third-portion > div > p{
line-height: 2;
}
.white-div{
display: none !important;
}
.fourth-portion > div >h2{
font-size: 24px !important;
}
.fourth-portion > div > p{
font-size: 13px !important;
}
.red-btn{
background-image: none;
background-color: #ed1c24;
}
.red-btn:hover{
background-image: none;
background-color: #d4181f;
}
.Deeper > h3{
font-size: 40px;
}
.cs{
width: 100% !important;
}
.services > div > h3{
font-size: 22px;
}
.service2 > div > h3{
font-size: 22px;
}
.service3 > div > h3{
font-size: 22px;
}
.Deeper{
padding: 5px 0px 11px 0px;
}
}
@media(max-width:500px){
.red-btn{
width: 80% !important;
margin: auto;
display: table;
}
}
@media(max-width:991px){
.for-mb{
display:block;
}
.for-ds{
display: none;
}
.third-portion > img{
margin-top: 0%;
}
.third-portion > div > h2{
font-size: 31px;
}
.third-portion > div > h3{
font-size: 28px !important;
}
.third-portion > div > p{
font-size: 13px !important;
}
.fourth-portion{
margin-top: 0%;
}
.services{
background-image: none;
background-color: #e7e7e7;
}
.service2{
background-image: none;
background-color: #e7e7e7;
}
.service3{
background-image: none;
background-color: #e7e7e7;
}
.Deeper{
margin: 19px 0px 0px 0;
width: 100%;
background-image: url("../images/sbg-mb.png");
}
.services3{
min-height: 100% !important;
}
.footer > p{
padding-left: 6%;
}
.breakk{
display: none;
}
.services > .first{
padding-left: 4%;
}
.service2 > .first{
padding-left: 4%;
}
.service3 > .cs{
padding-left: 4%;
}
}
@media(max-width:1200px){
.third-portion > div > p{
font-size: 14px;
}
.third-portion > div > h2{
font-size: 38px;
}
.third-portion > div > h3{
font-size: 30px;
}
.fourth-portion > div >h2{
font-size: 38px;
}
.fourth-portion > div > p{
font-size: 14px;
}
}
@media(max-width:610px){
.break{
display: none;
}
.fourth-portion > div > p{
line-height: 1.8 !important;
}
.Deeper > h3{
font-size: 28px;
}
}
@media(max-width:860px){
.footer > img {
width: 163px;
margin-top: 3px;
float: left;
}
.footer > p {
padding-left: 2%;
}
}
@media(max-width:800px){
.footer > img{
float: none;
margin: auto;
display: table;
}
.footer > p{
float: none;
text-align: center;
}
.social{
float:none;
margin-left: auto;
margin-right: auto;
display: table;
margin-top: 8px;
}
}
